In [48]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [61]:
a=10
print(a+5)
print("FaizanShakeel")
#Comment
b = '''This is multi line
comment'''
print(b)

x=4
y="Hello"
z=4.4
print(type(x))
print(type(y))
print(type(z))

myVariable=4    #CamelCase
MyVariable=4    #PascalCase
my_variable=4   #SnakeCase

#Assign Many Values to multiple variables
x,y,z = "Mango","Banana","Apple"
print(x,y,z)

#assign one value to multiple variables 
x=y=z="Apple"
print(x,y,z)

15
FaizanShakeel
This is multi line
comment
<class 'int'>
<class 'str'>
<class 'float'>
Mango Banana Apple
Apple Apple Apple

In [63]:
#Input
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:Faizan
Hello, Faizan

In [66]:
#ConditionalStatement
a = 33
b = 200
if b > a:
  print("b is greater than a")

#elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a
a and b are equal
a is greater than b

In [74]:
#Functions
def myfunction():
  print("Hello from a function")

myfunction()

def Fun(name):
  print(name + " Akbar")

Fun("Ali")
Fun("Umar")
Fun("Ahmad")

#Default Parameter
def function(country = "Norway"):
  print("I am from " + country)

function("Sweden")
function("India")
function()
function("Brazil")

#Return Functions
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

Hello from a function
Ali Akbar
Umar Akbar
Ahmad Akbar
I am from Sweden
I am from India
I am from Norway
I am from Brazil
15
25
45

In [81]:
#Loops
i = 1
while i < 6:   #WhileLoop
  print(i)
  i += 1

a = ["apple", "banana", "cherry"]  #ForLoop
for x in a:
  print(x)

for x in "banana":  #LoopThroughString
  print(x)
    
for x in range(2, 30, 3):
  print(x)

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:               #Nested Loop
  for y in fruits:
    print(x, y)

1
2
3
4
5
apple
banana
cherry
b
a
n
a
n
a
2
5
8
11
14
17
20
23
26
29
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [88]:
#Strings
a = "Hello, World!"
print(a[1])

txt = "The best things in life are free!"
print("free" in txt)

b = "Hello, World!"  #Slicing String
print(b[2:5])

a = "Hello, World!"
print(a.upper())

a = "Hello"
b = "World"
c = a + " " + b
print(c)

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

e
True
llo
HELLO, WORLD!
Hello World
We are the so-called "Vikings" from the north.